.header{
    background-color: rgb(37, 80, 78);
    
}

.logo{
    margin-left: 130px;
    color: #fff;
}

.title{
    text-decoration:underline;
}

.subtitle{
    margin-left: 100px;
    font-style: italic;
    font-size: 20px;
}