<nav class="nav">
    <a href="/" class="btn nav__link">
        Главная
    </a>
    <a href="/user" class="btn nav__link">
        Пользователи
    </a>
    <a href="/about" class="btn nav__link">
        О нас
    </a>
    <a href="/form" class="btn nav__link">
        Добавить пользователя
    </a>
</nav>